{% extends 'base.html' %}

{% block title %}
    Crear Parqueadero - Mi Aplicación de Parqueadero
{% endblock %}

{% block content %}
    <h2>Crear Parqueadero</h2>
    <form class="card card-body border border-0 form" method="post">
        {% csrf_token %}
            <label for="{{ form.numero.id_for_label }}">Numero:</label>
            {{ form.numero }}
            <label for="{{ form.tipo.id_for_label }}">Tipo de parqueadero:</label>
            {{ form.tipo }}
            <label for="{{ form.tipoVehiculo.id_for_label }}">Tipo de vehiculo:</label>
            {{ form.tipoVehiculo }}
            <label for="{{ form.conjunto.id_for_label }}">Conjunto:</label>
            {{ form.conjunto }}
        <button class="btn btn-primary mt-2" type="submit">Guardar</button>
    </form>
{% endblock %}